@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700&display=swap');

body{
    font-family: 'Archivo Narrow', sans-serif;
    background-color: #00CFD9;
    padding-top: 90px;
}

@font-face {
    font-family: 'Archivo Narrow';
    src: url(/ArchivoNarrow-VariableFont_wght.ttf);
    font-weight: 400;
}